.submit-button {
    background: linear-gradient(150deg, #70C3FF 0%, #4B65FF 100%);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    width: 240px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}