.password-rules {
    list-style: none;
    padding: 5px 20px 0;
    margin: 8px 0;
    font-size: 14px;
    color: var(--text-color);
}

.rule-item {
    margin: 4px 0;
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}

.rule-item.valid {
    color: var(--success-color);
}

.rule-item.invalid {
    color: var(--error-color);
}

.show-password-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.input-container {

    svg.icon > * {
        fill: var(--focus-color);
    }

    &.valid svg.icon > * {
        fill: var(--success-color);
    }

    &.invalid svg.icon > * {
        fill: var(--error-color);
    }
}